body {
    margin:0px;
}



.olsol {
    width: 200px;
    height: 900px;
    float: left;
    background-color: black;
   


}

.olsola {
    
    text-decoration: none;
    color:#ffffff;
    margin-left:20px;
    font-size:20pt;
    
}